In [11]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [22]:
df=sns.load_dataset('tips')

In [23]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [27]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
encoder.fit_transform(df['time'])
df['time']

0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

In [28]:
#independent and dependent features
x=df.drop(labels=['time'],axis=1)
y=df['time']

In [29]:
x.head()

   total_bill   tip     sex smoker  day  size
0       16.99  1.01  Female     No  Sun     2
1       10.34  1.66    Male     No  Sun     3
2       21.01  3.50    Male     No  Sun     3
3       23.68  3.31    Male     No  Sun     2
4       24.59  3.61  Female     No  Sun     4

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [42]:
from sklearn.impute import SimpleImputer #missing values
from sklearn.preprocessing import OneHotEncoder #handle categorical feature
from sklearn.preprocessing import StandardScaler #feature scaling

In [52]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [53]:
categorical_cols=['sex','smoker','day']
numerical_cols=['total_bill','tip','size']

In [65]:
# feature Engineering Automation

num_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='median')), 
    ('scaler',StandardScaler()) 
     ]
    )

In [68]:
#categorical_Pipeline

cat_Pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('onehotcoder',OneHotEncoder())
    ]
)

In [74]:
preprocessor=ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_cols),
    ('cat_pipeline',cat_Pipeline,categorical_cols)
])

In [76]:
x_train=preprocessor.fit_transform(x_train)

In [77]:
x_test=preprocessor.transform(x_test)

In [81]:
from sklearn.ensemble import RandomForenstClassifier

ImportError: cannot import name 'RandomForenstClassifier' from 'sklearn.ensemble' (/opt/conda/lib/python3.10/site-packages/sklearn/ensemble/__init__.py)